@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-tabs::after{
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .2s ease 0s;
}

.nav-tabs:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}